body {
	background-color: #000000;
	margin: 40px auto;
	max-width: 650px;
	color: white;
	font-family: monospace;
	padding: 0 8px;
}

header { 
	font-family: monospace;
	display: flex;
}

header>p {
	margin: auto 15px;
	font-size: 20px;
}

a:visited {
	color: lightblue;
}
